* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.hero-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #2C3E50;
}
.hero-button{
    background-color: #2C3E50;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-width: 0ch;
    margin-right: 30px;
}

h1 {
    color: white;
    font-size: 28;
}

h3 {
    color: white;
    font-size: 24px;
    margin-top: 50px;
}

.hero-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1abc9c;
    height: 680px;
}

.bootstrap-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1320;
    height: 486.53;
    
}

.avatar-img {
    width: 240px;
    height: 254.53;
}

.avatar-text {
    color: white;
    font-size: 64px;
    margin-top: 48px;
    text-align: center;
}

.portfolio-section {
    text-align: center;
    padding: 96px;
    width: 100%;
}

.portfolio-heading {
    color: #2C3E50;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 72px;
}



.prtfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    padding-left: 14%;
    padding-right: 14%;
}

.portfolio-img {
    width: 400px;
    height: 288.88px;
    border-radius: 10px;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1abc9c;
    padding: 96px 0;
    width: 100%;
    height: 580px;
}

.about-text {
    font-size: 20px;
    color: white;
    line-height: 0.8cm;
}

.about-paragraph {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 45%;
    height: 166px;
}

.about-par-section {
    width: 416px;
}

.button-div {
    width: 100%;
    height: 66px;
    margin-top: 40px;
    text-align: center;
}
.about-button {
    background-color: #1abc9c;
    color: white;
    font-size: 20px;
    border-width: 0.1em;
    height: 66px;
    width: 232.5px;
    border-color: white;
    border-radius: 10px;
}

.contact-section {
    width: 100%;
    height: 878px;
    padding: 96px 0px;
    text-align: center;
}

.contact-heading {
    color: #2C3E50;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;    
}

.contact-forme {
    display: block;
    margin: 50px 28%;
    width: 780px;
    height: 554px;
    float: left;
}

input[type="text"] {
    font-size: 25px;
    width: 746px;
    height: 88px;
    border-width: 0;
    border-bottom-width: 0.1cm ;
    margin: 10px;

}
.phone-number {
    width: 746px;
    height: 88px;
    border-width: 0;
    border-bottom-width: 0.1cm ;
    margin: 10px;
    font-size: 25px;
}
.message {
    height: 160px;
}

.send-button {
    width: 100px;
    height: 60px;
    float: left;
    border-width: 0;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #1abc9c;
}

.more-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 272px;
    padding: 10px 10%;
    background-color: #2C3E50;
}

.information {
    margin-top: 70px;
    text-align: center;
}

.info-heading {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;

}

.info-parag {
    color: white;
    font-size: 20px;
}

.copy-right-section {
    width: 100%;
    height: 72PX;
    background-color: #1a252f;
    text-align: center;
}

.copy-right-text {
    color: white;
    padding: 30px;
}






/* 
@media only screen and (max-width: 600px) {
    
    .portfolio-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 96px;
        width: 100%;
        height: 1000px;
    }

    input[type="text"] {
    font-size: 25px;
    width: 460px;
    }
    .phone-number {
        width: 460px;
    }

    h1 {
        font-size: 44px;
    }
    
    

  } */